@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
.App,
.ant-layout {
  height: 100%;
}
.ant-layout-sider-children {
  display: flex;
}
.ant-card-head {
}
.ant-card-body {
  height: calc(100% - 58.16px);
  padding: 1px;
  overflow: auto;
}
